{% load static %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{% static 'images/todo_logo.png' %}" alt="todo_logo" height="30" width="30">
      <span class="fs-4"><h3> ToDo list</h3></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'todo:task-list' %}" class="nav-link" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="{% url 'todo:tag-list' %}" class="nav-link" aria-current="page">
          Tags
        </a>
      </li>
    </ul>
  </div>