{% extends "base.html" %}
{% load static %}

{% block title %}
  TODO list
{% endblock %}

{% block content %}
  <div class="container h-100 content-container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card mask-custom" style="background-color: #3abca7">
          <div class="card-body p-4 text-white">
            <a style="float: right" class="btn btn-primary" href="{% url 'todo:tag-create' %}">Add tag</a>
            <div class="text-center pt-5">
              <i class="fa-solid fa-tags fa-2xl" style="color: #3371db;"></i>
              <h2 class="my-4">Tag list</h2>
            </div>

            <table class="table text-white mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for tag in tag_list %}
                <tr class="fw-normal">
                  <td class="align-middle">
                    <span>{{ tag.name }}</span>
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'todo:tag-update' pk=tag.id %}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'todo:tag-delete' pk=tag.id %}"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>

              {% endfor %}

              </tbody>
            </table>


          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}